{% extends "layout.twig" %}

{% form_theme form "fields.twig" %}

{% block main %}
<div class="page-header">
    <h1>Pond setting</h1>
    <p>Update pond condition for mating.</p>
</div>

<form action="{{path('pond')}}" method="post" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-share-alt"></i> Save</button>
            <a href="{{path('frogs')}}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
